<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 MageStack. All rights reserved.
 * See COPYING.txt for license details.
 *
 * DISCLAIMER
 *
 * Do not make any kind of changes to this file if you
 * wish to upgrade this extension to newer version in the future.
 *
 * @category  MageStack
 * @package   MageStack_GoogleLogin
 * @author    Amit Biswas <amit.biswas.webdeveloper@gmail.com>
 * @copyright 2025 MageStack
 * @license   https://opensource.org/licenses/MIT  MIT License
 * @link      https://github.com/attherateof/GoogleLogin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageStack\FirePush\Model\Client" shared="true" />
    <preference for="MageStack\FirePush\Api\ConfigInterface" type="MageStack\FirePush\Model\Config" />
    <preference for="MageStack\FirePush\Api\ConfigBuilderInterface" type="MageStack\FirePush\Model\ConfigBuilder" />
    <preference for="MageStack\FirePush\Api\MessageInterface" type="MageStack\FirePush\Model\Message" />
    <preference for="MageStack\FirePush\Api\MessageServiceInterface" type="MageStack\FirePush\Model\MessageService" />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="firebaseMessageValidate" xsi:type="object">MageStack\FirePush\Console\Command\Validate</item>
            </argument>
        </arguments>
    </type>
</config>